#pause-icon,#play-icon{
  cursor: pointer;
}

#pause-icon{
  display: none;
}

.loop{
  padding:0.3rem 1rem;
  border:1px solid #999;
  border-radius: 1rem;
  display: inline-block;
  color:#777;
  cursor: pointer;
}

/* --- Controls Div --- */

.controls-progress-div{
  width:800px;
  height:0.5rem;
  background:#cecece;
  margin:0.5rem 0;
}

.controls-progress-slider{
  width:0;
  background:#000;
  height:100%;
}